package ${servicePackage};
/**
 *  Copyright 2008 biaoping.yin
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

import com.navercorp.pinpoint.bootstrap.instrument.MethodFilter;

import java.util.List;

/**
* @author ${pluginAuthor}
*/
public class ${serviceName}InterceptorClassInfo {
	private List<${serviceName}MethodInfo> interceptorMehtods ;
	private MethodFilter methodFilter;
	private String interceptorClass;
    private ${serviceName}MethodInfo allAccept ;
    private ${serviceName}MethodInfo allReject ;

	public List<${serviceName}MethodInfo> getInterceptorMehtods() {
		return interceptorMehtods;
	}

	public void setInterceptorMehtods(List<${serviceName}MethodInfo> interceptorMehtods) {
		this.interceptorMehtods = interceptorMehtods;
	}

	public String getInterceptorClass() {
		return interceptorClass;
	}

	public void setInterceptorClass(String interceptorClass) {
		this.interceptorClass = interceptorClass;
	}

	public MethodFilter getMethodFilter() {
		return methodFilter;
	}

	public void setMethodFilter(MethodFilter methodFilter) {
		this.methodFilter = methodFilter;
	}

	public ${serviceName}MethodInfo getAllAccept() {
		return allAccept;
	}

	public void setAllAccept(${serviceName}MethodInfo allAccept) {
		this.allAccept = allAccept;
	}

	public ${serviceName}MethodInfo getAllReject() {
		return allReject;
	}

	public void setAllReject(${serviceName}MethodInfo allReject) {
		this.allReject = allReject;
	}
}
