/*
 * Copyright 2015 NAVER Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package ${servicePackage}.interceptor;

import com.navercorp.pinpoint.bootstrap.context.MethodDescriptor;
import com.navercorp.pinpoint.bootstrap.context.SpanEventRecorder;
import com.navercorp.pinpoint.bootstrap.context.TraceContext;
import com.navercorp.pinpoint.bootstrap.interceptor.SpanEventSimpleAroundInterceptorForPlugin;
import com.navercorp.pinpoint.common.trace.AnnotationKey;
import ${servicePackage}.${serviceName}Constants;

/**
 * 适用于SpanEvent的拦截器
 * @author ${pluginAuthor}
 */
public class ${serviceName}OperationInterceptor extends SpanEventSimpleAroundInterceptorForPlugin {

	private boolean recordResult = false;
    private boolean recordArgs = false;
    public ${serviceName}OperationInterceptor(TraceContext context, MethodDescriptor descriptor) {
        super(context, descriptor);
		recordResult = this.getTraceContext().getProfilerConfig().readBoolean("profiler.${pluginName}.recordResult",${recordResult});
        recordArgs = this.getTraceContext().getProfilerConfig().readBoolean("profiler.${pluginName}.recordArgs",${recordArgs});
    }

    @Override
    protected void doInBeforeTrace(SpanEventRecorder recorder, Object target, Object[] args) {
        // do nothing
    }

    private String convertParams(Object[] args){
        if(args != null && args.length > 0){
            StringBuilder builder = new StringBuilder();
            for(Object arg:args) {
                boolean isArray = arg != null && arg.getClass().isArray();


                if(builder.length() > 0) {
                    builder.append(",");

                }
                if(!isArray) {
                    builder.append(arg);
                }
                else{
                    convertArray(  arg,  builder);
                }
            }
            return builder.toString();
        }
        return null;
    }

    private void convertArray(Object arg,StringBuilder builder){
       {
            builder.append("[");
            Object[] fields = (Object[])arg;
            boolean isfirst = true;
            for(Object f:fields){
                if(isfirst){
                    isfirst = false;
                }
                else{
                    builder.append(",");

                }
                builder.append(f);
            }
            builder.append("]");
        }

    }

    @Override
    protected void doInAfterTrace(SpanEventRecorder recorder, Object target, Object[] args, Object result,
            Throwable throwable) {
        recorder.recordServiceType(${serviceName}Constants.${serviceName});
        recorder.recordException(throwable);
        if (recordArgs && args != null && args.length > 0) {
            recorder.recordAttribute(${serviceName}Constants.ARGS_ANNOTATION_KEY,convertParams(args));
        } else {
            recorder.recordApi(getMethodDescriptor());
        }
        if(recordResult){
        	recorder.recordAttribute(AnnotationKey.RETURN_DATA,result);
		}
    }

}
