<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		 
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<!-- %L(line number) option is extremely slow. -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35.35c{1.}:%-3L) %m%n" />
		</layout>
	</appender>

	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="hostmonistor.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="BufferedIO" value="true" />
		<!-- 8K为一个写单元 -->
		<param name="BufferSize" value="8192" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<!-- %L(line number) option is extremely slow. -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35.35c{1.}:%-3L) %m%n" />
		</layout>
	</appender>

	<appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="hostmonistor.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="100MB" />
		<param name="maxBackupIndex" value="20" />
		<param name="BufferedIO" value="true" />
		<!-- 8K为一个写单元 -->
		<param name="BufferSize" value="8192" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<!-- %L(line number) option is extremely slow. -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35.35c{1.}:%-3L) %m%n" />
		</layout>
	</appender>

	<logger name="com.navercorp.pinpoint" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</logger>

	<logger name="com.ai.blackcat.trace" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>

</log4j:configuration>